<div class="mat-card-cvr" *ngIf="isLoggedIn; else loggedOut">
    <mat-card class="example-card">
      <mat-card-header>
          <mat-card-title>Reset&nbsp;Password</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <form class="my-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>

    <mat-form-field class="full-width">
        <mat-label>Old Password</mat-label>
        <input matInput type="password" name="oldPassword" class="form-control" [(ngModel)]="model.oldPassword" #oldPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && oldPassword.invalid }" required minlength="6">
        <mat-error *ngIf="f.submitted && oldPassword.invalid">
            <mat-error *ngIf="oldPassword.errors.required">Old Password is required</mat-error>
            <mat-error *ngIf="oldPassword.errors.minlength">Old Password cannot be less than 6 characters</mat-error>   
        </mat-error>   
    </mat-form-field><br>

    <mat-form-field class="full-width">
        <mat-label>New Password</mat-label>
        <input matInput type="password" name="newPassword" class="form-control" [(ngModel)]="model.newPassword" #newPassword="ngModel" [ngClass]="{ 'is-invalid': f.submitted && newPassword.invalid }" required minlength="6">
        <mat-error *ngIf="f.submitted && newPassword.invalid">
            <mat-error *ngIf="newPassword.errors.required">Password is required</mat-error>
            <mat-error *ngIf="newPassword.errors.minlength">Password cannot be less than 6 characters</mat-error>   
        </mat-error>   
    </mat-form-field><br>
    
<mat-card-actions>
    <button mat-raised-button>RESET</button>
 </mat-card-actions>
 <div class="alert alert-warning" *ngIf="f.submitted && isReset">
    Password Updated Successfully!!<br/>
</div>
 <div class="alert alert-warning" *ngIf="f.submitted && isLoginFailed">
    Reset Password failed!<br/>{{ errorMessage }}
</div>
</form>
</mat-card-content>
</mat-card>
<br><br>

<mat-card class="my-card">
    <mat-card-content>After successful password reset, You will have to login again.</mat-card-content>
  </mat-card>
 
</div>

<ng-template #loggedOut>
    <mat-card class="my-card">
      <mat-card-content>Please login again.</mat-card-content>
    </mat-card>
  </ng-template>